<nav class="navbar">
  <a routerLink="/elections" class="brand">Votex</a>

  @if (authService.isLoggedIn()) {
    <div class="nav-right">
      @if (authService.isAdmin()) {
        <a routerLink="/admin/users" class="nav-link">Utilizatori</a>
      }
      <span class="nav-email">{{ authService.currentUser()?.email }}</span>
      <button class="nav-btn-logout" (click)="logout()">Delogare</button>
    </div>
  } @else {
    <div class="nav-right">
      <a routerLink="/login" class="nav-link">Login</a>
      <a routerLink="/register" class="nav-link nav-link--cta">Cont nou</a>
    </div>
  }
</nav>

<router-outlet />
